$white: "#ffffff";
$black: "#000000";
$transparent: transparent;

$whiteOpacity: rgba(255, 255, 255, 0.3);
$primaryLightgrey: #e7e7eb;
$secondaryLightgrey: #a09fb1;
$grey: #6e707a;
$blue: #3c47e9;
$primaryBlueGrey: #88869d;
$secondaryBlueGrey: #585676;
$tertiaryBlueGrey: #616475;
$primaryDarkBlue: #100e1d;
$secondaryDarkBlue: #1e213a;
$tertiaryDarkBlue: #110e3c;
$yellow: #ffec65;
$transparent: transparent;
