@import "../../../styles/mixins";
@import "../../../styles/palette";
@import "../../../styles/fonts";

.forecast-single-item {
  @include elemPlacement($dp: flex, $jc: space-between);
  @include elemSize($w: 100%);

  &__content img {
    @include elemSize($w: 60px, $h: 60px);
    margin-bottom: 24px;
  }
  &__info {
    @include elemPlacement($dp: flex);
    & p {
      margin-top: 0px;
      margin-bottom: 18px;
    }
  }
  &__min-temp {
    color: $secondaryLightgrey;
    margin-left: 15px;
  }
}
