@import "./styles/mixins";

.container {
  height: 100%;
  width: 100%;
  display: flex;

  @media (max-width: 1175px) {
    @include elemPlacement($dp: flex, $fd: column);
    @include elemSize($minw: 328px);
    overflow-x: hidden;
  }
}

app-sidebar-smart {
  flex: 0.3;
}

app-main {
  flex: 0.7;
  z-index: 1;
}
