@import "../../../styles/mixins";
@import "../../../styles/palette";
@import "../../../styles/fonts";

.sidebar {
  @include elemPlacement($fl: 0.3, $dp: flex, $fd: column, $ai: center);
  @include elemPosition($pt: relative);
  height: 100vh;
  padding: 42px 46px 0px 46px;
  color: $primaryLightgrey;
  background: $secondaryDarkBlue;

  &__header {
    @include elemPlacement($dp: flex, $jc: space-between, $ai: center);
    @include elemSize($w: 100%);
  }

  &__search {
    @include elemSize($w: 161px, $h: 40px);
    @include elemFonts($fw: $normal, $fs: $secondaryRegular);
    border: none;
    font-family: Raleway;
    color: $primaryLightgrey;
    background: $grey;
    box-shadow: 0px 4px 4px 0.3;
    cursor: pointer;
  }
  &__geoposition {
    @include elemPlacement($dp: flex, $jc: center, $ai: center);
    @include elemSize($w: 40px, $h: 40px);
    background: $secondaryBlueGrey;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
  }
  &__body {
    @include elemPlacement($dp: flex, $fd: column, $ai: center);
    margin-top: 109px;

    // @media (max-width: 1175px) {
    //   margin-top: 76px;
    // }
  }
  &__small-cloud {
    @include elemSize($w: 147px, $h: 109px);
    @include elemPosition($pt: absolute, $t: 370px, $r: -11px);
    opacity: 0.1;

    // @media (max-width: 1175px) {
    //   @include elemSize($w: 127.45px, $h: 94.51px);
    //   @include elemPosition($t: 289.49px);
    // }
  }
  &__medium-cloud-right {
    @include elemPosition($pt: absolute, $t: 116px, $r: -80px);
    opacity: 0.1;

    // @media (max-width: 1175px) {
    //   @include elemSize($w: 176.01px, $h: 130.05px);
    //   @include elemPosition($t: 69.27px);
    // }
  }
  &__medium-cloud-left {
    @include elemPosition($pt: absolute, $t: 103px, $l: -89px);
    opacity: 0.1;

    // @media (max-width: 1175px) {
    //   @include elemSize($w: 176.01px, $h: 130.05px);
    //   @include elemPosition($t: 58px);
    // }
  }
  &__large-cloud {
    @include elemSize($w: 248px, $h: 183px);
    @include elemPosition($pt: absolute, $t: 266px, $l: -111px);
    opacity: 0.1;

    // @media (max-width: 1175px) {
    //   @include elemSize($w: 215.02px, $h: 158.66px);
    //   @include elemPosition($t: 199.32px);
    // }
  }
  &__weather-icon {
    @include elemSize($w: 202px, $h: 234px);
    opacity: none;

    // @media (max-width: 1175px) {
    //   @include elemSize($w: 150px, $h: 174px);
    // }
  }
  &__temperature {
    @include elemPlacement($dp: flex, $ai: baseline);
    @include elemFonts($fw: $normal, $fs: $giant);
    color: $primaryLightgrey;
    margin-top: 87px;

    // @media (max-width: 1175px) {
    //   margin-top: 40px;
    // }
    &-value {
      @include elemFonts($fw: $bold, $fs: $giant);
      margin: 0px;
    }
    &-icon {
      @include elemFonts($fw: $normal, $fs: $large);
      margin: 0px;
      color: $secondaryLightgrey;
    }
  }
  &__weaher-state-name {
    @include elemSize($h: 42px);
    @include elemFonts($fw: $bold, $fs: $secondaryIncreased);
    margin-top: 60px;
    color: $secondaryLightgrey;

    // @media (max-width: 1175px) {
    //   margin: 0px;
    //   margin-top: 23px;
    // }
  }

  &__footer {
    @include elemPlacement($dp: flex, $fd: column);
    @include elemFonts($fw: $bold);
    color: $primaryBlueGrey;
  }
  &__current-date {
    @include elemPlacement($dp: flex, $ai: center);
    @include elemSize($w: 100%);
    @include elemFonts($fw: $normal, $fs: $secondaryRegular);
    margin-bottom: 10px;
    color: $primaryBlueGrey;

    // @media (max-width: 1175px) {
    //   @include elemSize($h: 20px);
    //   margin-top: 48px;
    // }
  }
  &__location {
    @include elemPlacement($dp: flex, $jc: center, $ai: center);
    @include elemSize($h: 35px);
    @include elemFonts($fw: $bold, $fs: $secondaryRegular);
    // @media (max-width: 1175px) {
    //   @include elemSize($h: 20px);
    //   margin-top: 33px;
    //   margin-bottom: 87px;
    // }
    &-title {
      margin-left: 9px;
    }
  }
}
